<div class="container">
  <h1>Anagrams</h1>
  <% if @anagrams %>
    <p>Anagrams are: 
      <ul>
        <% @anagrams.each do |word| %>
        <li><%= word.word %></li>
        <% end %>
      </ul>    
    </p>
  <% end %>

  <form action="/anagrams" method="POST">
    Show a list of anagrams for the word...
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="List'em all!">
  </form>
</div>





